*.bak
clab-sros-telemetry
.venv/
venv/
.idea/
srl-sros-gnmi-config-lab/.config.clab.yml.bak
srl-sros-gnmi-config-lab/clab-config
srl-sros-gnmi-config-lab/license.lic
srl-sros-gnmi-config-lab/solution
sros-event-handling/solution
sros-stateful-show/solution
**/clab-*
**/*.key
**/.*.clab.y*ml.bak
**/*.lic
.DS_Store
.vscode