{
    "nokia-conf:configure": {
        "policy-options": {
            "policy-statement": [
                {
                    "name": "PERMIT-ALL",
                    "default-action": {
                        "action-type": "accept"
                    }
                }
            ]
        }
    }
}