{
    "nokia-conf:configure": {
        "port": [
            {% for connector in range(1,5) %}{
                "port-id": "1\/1\/c{{ connector }}",
                "admin-state": "enable",
                "connector": {
                    "breakout": "c10-10g"
                }
            },{% for port in range(1,5) %}
            {
                "port-id": "1\/1\/c{{ connector }}\/{{ port }}",
                "admin-state": "enable",
                "ethernet": {
                    "mode": "hybrid",
                    "encap-type": "dot1q",
                    "lldp": {
                        "dest-mac": [
                            {
                                "mac-type": "nearest-bridge",
                                "notification": true,
                                "port-id-subtype": "tx-if-name",
                                "receive": true,
                                "transmit": true,
                                "tx-tlvs": {
                                    "port-desc": true,
                                    "sys-name": true,
                                    "sys-desc": true,
                                    "sys-cap": true
                                },
                                "tx-mgmt-address": [
                                    {
                                        "mgmt-address-system-type": "system"
                                    }
                                ]
                            }
                        ]
                    }
                }
            }{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}
        ]
    }
}