{
    "nokia-conf:configure": {
        "router": [
            {
                "router-name": "Base",
                "interface": [
                    {
                        "interface-name": "system",
                        "ipv4": {
                            "primary": {
                                "address": "10.10.10.{{ rtr_number }}",
                                "prefix-length": 32
                            }
                        }
                    }
                ]
            }
        ]
    }
}