{
    "nokia-conf:configure": {
        "system": {
            "telemetry": {
                "destination-group": [
                    {
                        "name": "srexperts",
                        "allow-unsecure-connection": [null],
                        "destination": [
                            {
                                "address": "{{ telemetry_collector_ip }}",
                                "port": 57400,
                                "router-instance": "management"
                            }
                        ]
                    }
                ],
                "persistent-subscriptions": {
                    "subscription": [
                        {
                            "name": "srexperts",
                            "admin-state": "enable",
                            "sensor-group": "srexperts",
                            "mode": "sample",
                            "destination-group": "srexperts"
                        }
                    ]
                },
                "sensor-groups": {
                    "sensor-group": [
                        {
                            "name": "srexperts",
                            "path": [
                                {
                                    "xpath": "\/configure\/system\/name"
                                },
                                {
                                    "xpath": "\/state\/router[router-name=Base]\/bgp"
                                },
                                {
                                    "xpath": "\/state\/router[router-name=Base]\/interface[interface-name=*]\/oper-state"
                                },
                                {
                                    "xpath": "\/state\/router[router-name=Base]\/interface[interface-name=*]\/statistics"
                                },
                                {
                                    "xpath": "\/state\/router[router-name=Base]\/isis[isis-instance=0]"
                                },
                                {
                                    "xpath": "\/state\/system\/cpu[sample-period=1]"
                                },
                                {
                                    "xpath": "\/state\/system\/memory-pools"
                                },
                                {
                                    "xpath": "\/state\/port[port-id=*]\/statistics"
                                },
                                {
                                    "xpath": "\/state\/system\/oper-name"
                                }
                            ]
                        }
                    ]
                }
            }
        }
    }
}