{
    "nokia-conf:configure": {
        "router": [
            {
                "router-name": "Base"{% if links %},
                "interface": [
                    {% for intf in links %}
                    {
                        "interface-name": "to_{{ links[intf]['remote_node'] }}",
                        "admin-state": "enable",
                        "port": "{{ intf }}:0",
                        "ipv4": {
                            "primary": {
                                "address": "{{ links[intf]['ip_addr'] }}",
                                "prefix-length": 31
                            }
                        }
                    }{% if not loop.last %},{% endif %}{% endfor %}
                ]
                {% endif %}
            }
        ]
    }
}