ymls="$(find ./ -maxdepth 1 -regextype egrep -regex '.*ya{0,1}ml$')"
NL='
'
case $ymls in
  *"$NL"*) 
    echo "$ymls" && read -p "Which topology file?:" topofile
    name="$(grep ^name: ./$topofile*.yml | awk '{$1=$1};1')" 
    ;;
  *) 
    name="$(grep ^name: ./*.yml | awk '{$1=$1};1')" 
    ;;
esac
value=${name#* }
if [ -z "$value" ]
then
      echo -e "\n No name defined in the topology file!"
else
      alias rm='rm -i'
      alias cp='cp -i'
      alias mv='mv -i'
      alias tester1="ssh root@clab-$value-tester1"
      alias tester2="ssh root@clab-$value-tester2"
      alias server1="ssh root@clab-$value-server1"
      alias sros1="ssh admin@clab-$value-sros1"
      alias sros2="ssh admin@clab-$value-sros2"
      alias internet_rr1="ssh admin@clab-$value-internet_rr1"
      alias internet_rr2="ssh admin@clab-$value-internet_rr2"
      alias internet_rr3="ssh admin@clab-$value-internet_rr3"
      alias helper1="ssh admin@clab-$value-helper1"
      echo -e "OK!\nJust type aliases to ssh. Run 'sros1', 'tester1' or helper1' to log in to nodes."
fi
