# TiMOS-B-22.7.R2 both/x86_64 Nokia 7750 SR Copyright (c) 2000-2022 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Fri Sep 16 10:20:29 PDT 2022 by builder in /builds/c/227B/R2/panos/main/sros
# Configuration format version 22.7 revision 0

# Generated 2023-01-16T08:21:56.5Z by admin from 172.31.255.29
# Commit ID 2
#   Committed 2023-01-16T08:21:55.6Z by admin (MD-CLI) from 172.31.255.29
# Commit ID 1
#   Committed 2023-01-11T15:11:35.3Z by system (MD-CLI) from Console
#   Log       "System booted version B-22.7.R2."

configure {
    card 1 {
        card-type iom-1
        mda 1 {
            mda-type me12-100gb-qsfp28
        }
        mda 2 {
        }
        fp 1 {
        }
    }
    log {
        filter "1001" {
            named-entry "10" {
                description "Collect only events of major severity or higher"
                action forward
                match {
                    severity {
                        gte major
                    }
                }
            }
        }
        log-id "100" {
            description "Default Serious Errors Log"
            filter "1001"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
        log-id "99" {
            description "Default System Log"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
    }
    policy-options {
        prefix-list "system_ips" {
            prefix 192.169.0.0/24 type longer {
            }
        }
        policy-statement "import_systems" {
            entry 10 {
                from {
                    prefix-list ["system_ips"]
                }
                action {
                    action-type accept
                }
            }
        }
    }
    port 1/1/c1 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c1/1 {
        admin-state enable
    }
    port 1/1/c2 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c2/1 {
        admin-state enable
    }
    port 1/1/c3 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c3/1 {
        admin-state enable
    }
    port 1/1/c4 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c4/1 {
        admin-state enable
    }
    port 1/1/c5 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c5/1 {
        admin-state enable
    }
    port 1/1/c6 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c6/1 {
        admin-state enable
    }
    port 1/1/c7 {
    }
    port 1/1/c8 {
    }
    port 1/1/c9 {
    }
    port 1/1/c10 {
    }
    port 1/1/c11 {
    }
    port 1/1/c12 {
    }
    router "Base" {
        autonomous-system 65000
        interface "helper1" {
            port 1/1/c4/1
            ipv4 {
                primary {
                    address 10.5.8.5
                    prefix-length 24
                }
            }
        }
        interface "system" {
            ipv4 {
                bfd {
                    admin-state enable
                    transmit-interval 1000
                    receive 1000
                }
                primary {
                    address 192.168.0.5
                    prefix-length 32
                }
            }
        }
        bgp {
            group "rr" {
                family {
                    ipv4 true
                }
                cluster {
                    cluster-id 192.168.0.255
                }
            }
            neighbor "192.168.0.1" {
                bfd-liveness true
                group "rr"
                peer-as 65000
            }
            neighbor "192.168.0.2" {
                bfd-liveness true
                group "rr"
                peer-as 65000
            }
            neighbor "192.168.0.8" {
                bfd-liveness true
                group "rr"
                peer-as 65000
            }
        }
        isis 0 {
            admin-state enable
            area-address [49.0001]
            interface "helper1" {
                interface-type point-to-point
            }
            interface "system" {
                passive true
            }
        }        
    }
    system {
        name "internet_rr1"
        dns {
            address-pref ipv4-only
        }
        grpc {
            admin-state enable
            allow-unsecure-connection
            gnmi {
                auto-config-save true
            }
            rib-api {
                admin-state enable
            }
        }
        management-interface {
            configuration-mode model-driven
            netconf {
                admin-state enable
                auto-config-save true
            }
            yang-modules {
                nokia-submodules true
                nokia-combined-modules false
            }
            snmp {
                packet-size 9216
                streaming {
                    admin-state enable
                }
            }
        }
        bluetooth {
            advertising-timeout 30
        }
        login-control {
            ssh {
                inbound-max-sessions 30
            }
        }
        security {
            aaa {
                local-profiles {
                    profile "administrative" {
                        default-action permit-all
                        entry 10 {
                            match "configure system security"
                            action permit
                        }
                        entry 20 {
                            match "show system security"
                            action permit
                        }
                        entry 30 {
                            match "tools perform security"
                            action permit
                        }
                        entry 40 {
                            match "tools dump security"
                            action permit
                        }
                        entry 50 {
                            match "admin system security"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        entry 110 {
                            match "show li"
                            action deny
                        }
                        entry 111 {
                            match "clear li"
                            action deny
                        }
                        entry 112 {
                            match "tools dump li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                kill-session true
                                lock true
                                validate true
                            }
                        }
                    }
                    profile "default" {
                        entry 10 {
                            match "exec"
                            action permit
                        }
                        entry 20 {
                            match "exit"
                            action permit
                        }
                        entry 30 {
                            match "help"
                            action permit
                        }
                        entry 40 {
                            match "logout"
                            action permit
                        }
                        entry 50 {
                            match "password"
                            action permit
                        }
                        entry 60 {
                            match "show config"
                            action deny
                        }
                        entry 65 {
                            match "show li"
                            action deny
                        }
                        entry 66 {
                            match "clear li"
                            action deny
                        }
                        entry 67 {
                            match "tools dump li"
                            action deny
                        }
                        entry 68 {
                            match "state li"
                            action deny
                        }
                        entry 70 {
                            match "show"
                            action permit
                        }
                        entry 75 {
                            match "state"
                            action permit
                        }
                        entry 80 {
                            match "enable-admin"
                            action permit
                        }
                        entry 90 {
                            match "enable"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                validate true
                            }
                        }
                    }
                }
            }
            ssh {
                server-cipher-list-v1 {
                    cipher 200 {
                        name 3des
                    }
                    cipher 205 {
                        name blowfish
                    }
                }
                server-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 210 {
                        name blowfish-cbc
                    }
                    cipher 215 {
                        name cast128-cbc
                    }
                    cipher 220 {
                        name arcfour
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                    cipher 235 {
                        name rijndael-cbc
                    }
                }
                client-cipher-list-v1 {
                    cipher 200 {
                        name 3des
                    }
                    cipher 205 {
                        name blowfish
                    }
                    cipher 210 {
                        name des
                    }
                }
                client-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 210 {
                        name blowfish-cbc
                    }
                    cipher 215 {
                        name cast128-cbc
                    }
                    cipher 220 {
                        name arcfour
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                    cipher 235 {
                        name rijndael-cbc
                    }
                }
                server-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 230 {
                        name hmac-ripemd160
                    }
                    mac 235 {
                        name hmac-ripemd160-openssh-com
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
                client-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 230 {
                        name hmac-ripemd160
                    }
                    mac 235 {
                        name hmac-ripemd160-openssh-com
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
            }
            user-params {
                local-user {
                    user "admin" {
                        password "$2y$10$TQrZlpBDra86.qoexZUzQeBXDY1FcdDhGWdD9lLxMuFyPVSm0OGy6"
                        access {
                            console true
                            ftp true
                            snmp true
                            netconf true
                            grpc true
                        }
                        console {
                            member ["administrative"]
                        }
                    }
                    user "vrnetlab" {
                        password "$2y$10$gkjw0hqXHRiQDLrqr9OL..9/TESTPQJ.18YERrw5p/jIrmCwtTU4m"
                        access {
                            console true
                            netconf true
                        }
                        console {
                            member ["administrative" "default"]
                        }
                    }
                }
            }
        }
    }
}

persistent-indices {
    description "Persistent indices are maintained by the system and must not be modified."
    vrtr-if-id {
        router-name "Base" interface-name "dcgw1" vrtr-id 1 if-index 2
        router-name "Base" interface-name "dcgw2" vrtr-id 1 if-index 3
    }
}

# Finished 2023-01-16T08:21:56.5Z
