# TiMOS-B-22.5.R2 both/x86_64 Nokia 7750 SR Copyright (c) 2000-2022 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Wed Jun 22 14:38:17 PDT 2022 by builder in /builds/c/225B/R2/panos/main/sros
# Configuration format version 22.5 revision 0

# Generated 2022-09-05T14:58:57.0Z by admin from 200::
# Commit ID 2
#   Committed 2022-09-05T14:58:45.1Z by admin (MD-CLI) from 200::
# Commit ID 1
#   Committed 2022-08-29T11:51:28.6Z by system (MD-CLI) from Console
#   Log       "System booted version B-22.5.R2."

configure {
    card 1 {
        mda 1 {
            mda-type s36-100gb-qsfp28
        }
    }
    chassis router chassis-number 1 {
        power-shelf 1 {
            power-shelf-type ps-a4-shelf-dc
            power-module 1 {
                power-module-type ps-a-dc-6000
            }
            power-module 2 {
                power-module-type ps-a-dc-6000
            }
            power-module 3 {
                power-module-type ps-a-dc-6000
            }
            power-module 4 {
                power-module-type ps-a-dc-6000
            }
        }
    }
    log {
        filter "1001" {
            named-entry "10" {
                description "Collect only events of major severity or higher"
                action forward
                match {
                    severity {
                        gte major
                    }
                }
            }
        }
        log-id "100" {
            description "Default Serious Errors Log"
            filter "1001"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
        log-id "99" {
            description "Default System Log"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
    }
    multicast-management {
        chassis-level {
            per-mcast-plane-capacity {
                total-capacity dynamic
                mcast-capacity {
                    primary-percentage 87.5
                    secondary-percentage 87.5
                }
                redundant-mcast-capacity {
                    primary-percentage 87.5
                    secondary-percentage 87.5
                }
            }
        }
    }
    port 1/1/c1 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c1/1 {
        admin-state enable
    }
    port 1/1/c4 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c4/1 {
        admin-state enable
    }
    port 1/1/c6 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c6/1 {
        admin-state enable
    }
    port 1/1/c7 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c7/1 {
        admin-state enable
    }
    port 1/1/c8 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c8/1 {
        admin-state enable
    }
    router "Base" {
        interface "AAA-1" {
            port 1/1/c1/1
            ipv4 {
                primary {
                    address 100.0.0.1
                    prefix-length 24
                }
            }
        }
        interface "BNG-4" {
            port 1/1/c7/1
            ipv4 {
                primary {
                    address 200.0.0.1
                    prefix-length 24
                }
            }
        }
        interface "BNG-5" {
            port 1/1/c8/1
            ipv4 {
                primary {
                    address 201.0.0.1
                    prefix-length 24
                }
            }
        }
        interface "system" {
            ipv4 {
                primary {
                    address 192.0.2.61
                    prefix-length 32
                }
            }
        }
        isis 0 {
            admin-state enable
            area-address [49.0001]
            interface "AAA-1" {
                passive true
            }
            interface "BNG-4" {
                interface-type point-to-point
            }
            interface "BNG-5" {
                interface-type point-to-point
            }
            interface "system" {
            }
        }
    }
    system {
        name "PE-1"
        dns {
            address-pref ipv4-only
        }
        management-interface {
            configuration-mode model-driven
            yang-modules {
                nokia-submodules true
                nokia-combined-modules false
            }
        }
        bluetooth {
            advertising-timeout 30
        }
        security {
            aaa {
                local-profiles {
                    profile "administrative" {
                        default-action permit-all
                        entry 10 {
                            match "configure system security"
                            action permit
                        }
                        entry 20 {
                            match "show system security"
                            action permit
                        }
                        entry 30 {
                            match "tools perform security"
                            action permit
                        }
                        entry 40 {
                            match "tools dump security"
                            action permit
                        }
                        entry 50 {
                            match "admin system security"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        entry 110 {
                            match "show li"
                            action deny
                        }
                        entry 111 {
                            match "clear li"
                            action deny
                        }
                        entry 112 {
                            match "tools dump li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                kill-session true
                                lock true
                                validate true
                            }
                        }
                    }
                    profile "default" {
                        entry 10 {
                            match "exec"
                            action permit
                        }
                        entry 20 {
                            match "exit"
                            action permit
                        }
                        entry 30 {
                            match "help"
                            action permit
                        }
                        entry 40 {
                            match "logout"
                            action permit
                        }
                        entry 50 {
                            match "password"
                            action permit
                        }
                        entry 60 {
                            match "show config"
                            action deny
                        }
                        entry 65 {
                            match "show li"
                            action deny
                        }
                        entry 66 {
                            match "clear li"
                            action deny
                        }
                        entry 67 {
                            match "tools dump li"
                            action deny
                        }
                        entry 68 {
                            match "state li"
                            action deny
                        }
                        entry 70 {
                            match "show"
                            action permit
                        }
                        entry 75 {
                            match "state"
                            action permit
                        }
                        entry 80 {
                            match "enable-admin"
                            action permit
                        }
                        entry 90 {
                            match "enable"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                validate true
                            }
                        }
                    }
                }
            }
            ssh {
                server-cipher-list-v1 {
                    cipher 200 {
                        name 3des
                    }
                    cipher 205 {
                        name blowfish
                    }
                }
                server-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 210 {
                        name blowfish-cbc
                    }
                    cipher 215 {
                        name cast128-cbc
                    }
                    cipher 220 {
                        name arcfour
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                    cipher 235 {
                        name rijndael-cbc
                    }
                }
                client-cipher-list-v1 {
                    cipher 200 {
                        name 3des
                    }
                    cipher 205 {
                        name blowfish
                    }
                    cipher 210 {
                        name des
                    }
                }
                client-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 210 {
                        name blowfish-cbc
                    }
                    cipher 215 {
                        name cast128-cbc
                    }
                    cipher 220 {
                        name arcfour
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                    cipher 235 {
                        name rijndael-cbc
                    }
                }
                server-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 230 {
                        name hmac-ripemd160
                    }
                    mac 235 {
                        name hmac-ripemd160-openssh-com
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
                client-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 230 {
                        name hmac-ripemd160
                    }
                    mac 235 {
                        name hmac-ripemd160-openssh-com
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
            }
            user-params {
                local-user {
                    user "admin" {
                        password "$2y$10$TQrZlpBDra86.qoexZUzQeBXDY1FcdDhGWdD9lLxMuFyPVSm0OGy6"
                        access {
                            console true
                        }
                        console {
                            member ["administrative"]
                        }
                    }
                }
            }
        }
    }
}

persistent-indices {
    description "Persistent indices are maintained by the system and must not be modified."
    vrtr-if-id {
        router-name "Base" interface-name "AAA-1" vrtr-id 1 if-index 2
        router-name "Base" interface-name "BNG-4" vrtr-id 1 if-index 3
        router-name "Base" interface-name "BNG-5" vrtr-id 1 if-index 4
    }
}

# Finished 2022-09-05T14:58:57.0Z
