# TiMOS-C-23.3.R1 cpm/x86_64 Nokia 7250 IXR Copyright (c) 2000-2023 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Thu Mar 16 16:13:16 PDT 2023 by builder in /builds/c/233B/R1/panos/main/sros
# Configuration format version 23.3 revision 0

# Generated 2023-06-06T10:18:43.4Z by admin from 172.31.255.29
# Commit ID 4
#   Committed 2023-06-06T09:57:32.1Z by admin (MD-CLI) from 172.31.255.29
# Commit ID 3
#   Committed 2023-06-06T09:56:49.2Z by admin (MD-CLI) from 172.31.255.29

configure {
    log {
        filter "1001" {
            named-entry "10" {
                description "Collect only events of major severity or higher"
                action forward
                match {
                    severity {
                        gte major
                    }
                }
            }
        }
        log-id "100" {
            description "Default Serious Errors Log"
            filter "1001"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
        log-id "99" {
            description "Default System Log"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
    }
    port 1/1/1 {
        admin-state enable
        ethernet {
            mode hybrid
        }
    }
    port 1/1/2 {
        admin-state enable
        ethernet {
            mode hybrid
        }
    }
    port 1/1/3 {
        admin-state enable
        ethernet {
            mode hybrid
        }
    }
    port 1/1/4 {
        admin-state enable
        ethernet {
            mode hybrid
        }
    }
    port 1/1/5 {
    }
    port 1/1/6 {
    }
    port 1/1/7 {
    }
    port 1/1/8 {
    }
    port 1/1/9 {
    }
    port 1/1/10 {
    }
    port 1/1/11 {
    }
    port 1/1/12 {
    }
    port 1/1/13 {
    }
    port 1/1/14 {
    }
    port 1/1/15 {
    }
    port 1/1/16 {
    }
    port 1/1/17 {
    }
    port 1/1/18 {
    }
    port 1/1/19 {
    }
    port 1/1/20 {
    }
    port 1/1/21 {
    }
    port 1/1/22 {
    }
    port 1/1/23 {
    }
    port 1/1/24 {
    }
    port 1/1/25 {
    }
    port 1/1/26 {
    }
    port 1/1/27 {
    }
    port 1/1/28 {
    }
    port 1/1/29 {
    }
    port 1/1/30 {
    }
    port 1/1/31 {
    }
    port 1/1/32 {
    }
    port 1/1/33 {
    }
    port 1/1/34 {
    }
    port 1/1/35 {
    }
    port 1/1/36 {
    }
    port 1/1/37 {
    }
    port 1/1/38 {
    }
    port 1/1/39 {
    }
    port 1/1/40 {
    }
    port 1/1/41 {
    }
    port 1/1/42 {
    }
    port 1/1/43 {
    }
    port 1/1/44 {
    }
    port 1/1/45 {
    }
    port 1/1/46 {
    }
    port 1/1/47 {
    }
    port 1/1/48 {
    }
    port 1/1/c49 {
    }
    port 1/1/c50 {
    }
    port 1/1/c51 {
    }
    port 1/1/c52 {
    }
    port 1/1/c53 {
    }
    port 1/1/c54 {
    }
    service {
        vpls "100" {
            admin-state enable
            customer "1"
            sap 1/1/1:* {
            }
            sap 1/1/2:* {
            }
            sap 1/1/3:* {
            }
            sap 1/1/4:* {
            }
        }
    }
    system {
        name "SW"
        dns {
            address-pref ipv4-only
        }
        grpc {
            gnmi {
                auto-config-save false
            }
        }
        management-interface {
            configuration-mode model-driven
            cli {
                md-cli {
                    auto-config-save false
                }
            }
            configuration-save {
                configuration-backups 5
                incremental-saves false
            }
            netconf {
                auto-config-save false
            }
            yang-modules {
                nokia-submodules true
                nokia-combined-modules false
            }
        }
        security {
            aaa {
                local-profiles {
                    profile "administrative" {
                        default-action permit-all
                        entry 10 {
                            match "configure system security"
                            action permit
                        }
                        entry 20 {
                            match "show system security"
                            action permit
                        }
                        entry 30 {
                            match "tools perform security"
                            action permit
                        }
                        entry 40 {
                            match "tools dump security"
                            action permit
                        }
                        entry 50 {
                            match "admin system security"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        entry 110 {
                            match "show li"
                            action deny
                        }
                        entry 111 {
                            match "clear li"
                            action deny
                        }
                        entry 112 {
                            match "tools dump li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                kill-session true
                                lock true
                                validate true
                            }
                        }
                    }
                    profile "default" {
                        entry 10 {
                            match "exec"
                            action permit
                        }
                        entry 20 {
                            match "exit"
                            action permit
                        }
                        entry 30 {
                            match "help"
                            action permit
                        }
                        entry 40 {
                            match "logout"
                            action permit
                        }
                        entry 50 {
                            match "password"
                            action permit
                        }
                        entry 60 {
                            match "show config"
                            action deny
                        }
                        entry 65 {
                            match "show li"
                            action deny
                        }
                        entry 66 {
                            match "clear li"
                            action deny
                        }
                        entry 67 {
                            match "tools dump li"
                            action deny
                        }
                        entry 70 {
                            match "show"
                            action permit
                        }
                        entry 75 {
                            match "state"
                            action permit
                        }
                        entry 80 {
                            match "enable-admin"
                            action permit
                        }
                        entry 90 {
                            match "enable"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                validate true
                            }
                        }
                    }
                }
            }
            ssh {
                server-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                client-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                server-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
                client-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
            }
            user-params {
                local-user {
                    user "admin" {
                        password "$2y$10$TQrZlpBDra86.qoexZUzQeBXDY1FcdDhGWdD9lLxMuFyPVSm0OGy6"
                        access {
                            console true
                        }
                        console {
                            member ["administrative"]
                        }
                    }
                }
            }
        }
    }
}

persistent-indices {
    description "Persistent indices are maintained by the system and must not be modified."
}

# Finished 2023-06-06T10:18:43.4Z
