#!/usr/bin/bash
ymls="$(find ./ -maxdepth 1 -regextype egrep -regex '.*ya{0,1}ml$')"
NL='
'
case $ymls in
  *"$NL"*) 
    echo "$ymls" && read -p "Which topology file?:" topofile
    name="$(grep ^name: ./$topofile*.yml | awk '{$1=$1};1')" 
    ;;
  *) 
    name="$(grep ^name: ./*.yml | awk '{$1=$1};1')" 
    ;;
esac
value=${name#* }
if [ -z "$value" ]
then
      echo -e "\n No name defined in the topology file!"
else
      alias rm='rm -i'
      alias cp='cp -i'
      alias mv='mv -i'
      alias l1="ssh admin@clab-$value-leaf1"
      alias l2="ssh admin@clab-$value-leaf2"
      alias l3="ssh admin@clab-$value-leaf3"
      alias l4="ssh admin@clab-$value-leaf4"
      alias s1="ssh admin@clab-$value-spine1"
      alias s2="ssh admin@clab-$value-spine2"
      alias h1="ssh root@clab-$value-h1"
      alias h2="ssh root@clab-$value-h2"
      alias h3="ssh root@clab-$value-h3"
      alias h4="ssh root@clab-$value-h4"
      echo -e "OK!\nJust type aliases to ssh. Run 's1' for Spine1, 'l1' for Leaf1."
fi

