<xc:config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
    <configure xmlns="urn:nokia.com:sros:ns:yang:sr:conf">
        {%if router is defined%}<router>
            <router-name>Base</router-name>
            {%if router.interface_list is defined %}{% for interface in router.interface_list %}<interface>
                {%if interface.interface_name is defined %}<interface-name>{{interface.interface_name}}</interface-name>{%endif%}
                {%if interface.description is defined %}<description>{{interface.description}}</description>{%endif%}
                {%if interface.ip_mtu is defined %}<ip-mtu>{{interface.ip_mtu}}</ip-mtu>{%endif%}
                {%if interface.loopback is defined %}<loopback></loopback>{%endif%}
                {%if interface.dist_cpu_protection is defined %}<dist-cpu-protection>{{interface.dist_cpu_protection}}</dist-cpu-protection>{%endif%}
                {%if interface.mac is defined %}<mac>{{interface.mac}}</mac>{%endif%}
                {%if interface.port is defined %}<port>{{interface.port}}</port>{%endif%}
                {%if interface.egress is defined%}<egress>
                    {%if interface.egress.filter is defined%}<filter xc:operation="{{operation}}">
                        {%if interface.egress.filter.ip is defined %}<ip>{{interface.egress.filter.ip}}</ip>{%endif%}
                        {%if interface.egress.filter.ipv6 is defined %}<ipv6>{{interface.egress.filter.ipv6}}</ipv6>{%endif%}
                    </filter>{%endif%}
                </egress>{%endif%}
                {%if interface.ingress is defined%}<ingress>
                    {%if interface.ingress.filter is defined%}<filter xc:operation="{{operation}}">
                        {%if interface.ingress.filter.ip is defined %}<ip>{{interface.ingress.filter.ip}}</ip>{%endif%}
                        {%if interface.ingress.filter.ipv6 is defined %}<ipv6>{{interface.ingress.filter.ipv6}}</ipv6>{%endif%}
                    </filter>{%endif%}
                </ingress>{%endif%}
                {%if interface.load_balancing is defined%}<load-balancing>
                    {%if interface.load_balancing.ip_load_balancing is defined %}<ip-load-balancing>{{interface.load_balancing.ip_load_balancing}}</ip-load-balancing>{%endif%}
                </load-balancing>{%endif%}
                {%if interface.lag is defined%}<lag>
                    {%if interface.lag.link_map_profile is defined %}<link-map-profile>{{interface.lag.link_map_profile}}</link-map-profile>{%endif%}
                </lag>{%endif%}
                {%if interface.ipv4 is defined%}<ipv4>
                    {%if interface.ipv4.bfd is defined%}<bfd>
                        {%if interface.ipv4.bfd.admin_state is defined %}<admin-state>{{interface.ipv4.bfd.admin_state}}</admin-state>{%endif%}
                        {%if interface.ipv4.bfd.transmit_interval is defined %}<transmit-interval>{{interface.ipv4.bfd.transmit_interval}}</transmit-interval>{%endif%}
                        {%if interface.ipv4.bfd.multiplier is defined %}<multiplier>{{interface.ipv4.bfd.multiplier}}</multiplier>{%endif%}
                    </bfd>{%endif%}
                    {%if interface.ipv4.primary is defined%}<primary>
                        {%if interface.ipv4.primary.address is defined %}<address>{{interface.ipv4.primary.address}}</address>{%endif%}
                        {%if interface.ipv4.primary.prefix_length is defined %}<prefix-length>{{interface.ipv4.primary.prefix_length}}</prefix-length>{%endif%}
                    </primary>{%endif%}
                </ipv4>{%endif%}
                {%if interface.ipv6 is defined%}<ipv6>
                    {%if interface.ipv6.bfd is defined%}<bfd>
                        {%if interface.ipv6.bfd.admin_state is defined %}<admin-state>{{interface.ipv6.bfd.admin_state}}</admin-state>{%endif%}
                        {%if interface.ipv6.bfd.transmit_interval is defined %}<transmit-interval>{{interface.ipv6.bfd.transmit_interval}}</transmit-interval>{%endif%}
                        {%if interface.ipv6.bfd.multiplier is defined %}<multiplier>{{interface.ipv6.bfd.multiplier}}</multiplier>{%endif%}
                    </bfd>{%endif%}
                    {%if interface.ipv6.address is defined%}<address>
                        {%if interface.ipv6.address.ipv6_address is defined %}<ipv6-address>{{interface.ipv6.address.ipv6_address}}</ipv6-address>{%endif%}
                        {%if interface.ipv6.address.prefix_length is defined %}<prefix-length>{{interface.ipv6.address.prefix_length}}</prefix-length>{%endif%}
                        {%if interface.ipv6.address.eui_64 is defined %}<eui-64>{{interface.ipv6.address.eui_64}}</eui-64>{%endif%}
                    </address>{%endif%}
                </ipv6>{%endif%}
                {%if interface.qos is defined%}<qos>
                    {%if interface.qos.network_policy is defined %}<network-policy>{{interface.qos.network_policy}}</network-policy>{%endif%}
                    {%if interface.qos.egress_instance is defined %}<egress-instance>{{interface.qos.egress_instance}}</egress-instance>{%endif%}
                    {%if interface.qos.ingress_instance is defined %}<ingress-instance>{{interface.qos.ingress_instance}}</ingress-instance>{%endif%}
                </qos>{%endif%}
            </interface>{%endfor%}{%endif%}
        </router>{%endif%}
    </configure>
</xc:config>
