<xc:config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
    <configure xmlns="urn:nokia.com:sros:ns:yang:sr:conf">
        {%if filter is defined%}<filter xc:operation="{{operation}}">
            {%if filter.log_list is defined %}{% for log in filter.log_list %}<log>
                {%if log.log_id is defined %}<log-id>{{log.log_id}}</log-id>{%endif%}
                {%if log.apply_groups is defined %}<apply-groups>{{log.apply_groups}}</apply-groups>{%endif%}
                {%if log.admin_state is defined %}<admin-state>{{log.admin_state}}</admin-state>{%endif%}
                {%if log.description is defined %}<description>{{log.description}}</description>{%endif%}
            </log>{%endfor%}{%endif%}
            {%if filter.ip_filter_list is defined %}{% for ip_filter in filter.ip_filter_list %}<ip-filter>
                {%if ip_filter.filter_name is defined %}<filter-name>{{ip_filter.filter_name}}</filter-name>{%endif%}
                {%if ip_filter.entry_list is defined %}{% for entry in ip_filter.entry_list %}<entry>
                    {%if entry.entry_id is defined %}<entry-id>{{entry.entry_id}}</entry-id>{%endif%}
                    {%if entry.match is defined%}<match>
                        {%if entry.match.protocol is defined %}<protocol>{{entry.match.protocol}}</protocol>{%endif%}
                        {%if entry.match.dscp is defined %}<dscp>{{entry.match.dscp}}</dscp>{%endif%}
                        {%if entry.match.fragment is defined %}<fragment>{{entry.match.fragment}}</fragment>{%endif%}
                        {%if entry.match.dst_ip is defined%}<dst-ip>
                            {%if entry.match.dst_ip.address is defined %}<address>{{entry.match.dst_ip.address}}</address>{%endif%}
                        </dst-ip>{%endif%}
                        {%if entry.match.src_port is defined%}<src-port>
                            {%if entry.match.src_port.lt is defined %}<lt>{{entry.match.src_port.lt}}</lt>{%endif%}
                        </src-port>{%endif%}
                        {%if entry.match.dst_port is defined%}<dst-port>
                            {%if entry.match.dst_port.eq is defined %}<eq>{{entry.match.dst_port.eq}}</eq>{%endif%}
                        </dst-port>{%endif%}
                        {%if entry.match.icmp is defined%}<icmp>
                            {%if entry.match.icmp.type is defined %}<type>{{entry.match.icmp.type}}</type>{%endif%}
                        </icmp>{%endif%}
                    </match>{%endif%}
                    {%if entry.action is defined%}<action>
                        <{{entry.action}}></{{entry.action}}>
                    </action>{%endif%}
                </entry>{%endfor%}{%endif%}
            </ip-filter>{%endfor%}{%endif%}
            {%if filter.ipv6_filter_list is defined %}{% for ipv6_filter in filter.ipv6_filter_list %}<ipv6-filter>
                {%if ipv6_filter.filter_name is defined %}<filter-name>{{ipv6_filter.filter_name}}</filter-name>{%endif%}
                {%if ipv6_filter.entry_list is defined %}{% for entry in ipv6_filter.entry_list %}<entry>
                    {%if entry.entry_id is defined %}<entry-id>{{entry.entry_id}}</entry-id>{%endif%}
                    {%if entry.match is defined%}<match>
                        {%if entry.match.dst_ip is defined%}<dst-ip>
                            {%if entry.match.dst_ip.address is defined %}<address>{{entry.match.dst_ip.address}}</address>{%endif%}
                        </dst-ip>{%endif%}
                        {%if entry.match.next_header is defined%}<next-header>{{entry.match.next_header}}</next-header>{%endif%}
                        {%if entry.match.icmp is defined %}{%if entry.match.icmp.code is defined %}<icmp><code>{{entry.match.icmp.code}}</code></icmp>{% endif %}{% endif %}
                    </match>{%endif%}
                    {%if entry.action is defined%}<action>
                        <{{entry.action}}></{{entry.action}}>
                    </action>{%endif%}
                </entry>{%endfor%}{%endif%}
            </ipv6-filter>{%endfor%}{%endif%}
            {%if filter.mac_filter_list is defined %}{% for mac_filter in filter.mac_filter_list %}<mac-filter>
                {%if mac_filter.filter_name is defined %}<filter-name>{{mac_filter.filter_name}}</filter-name>{%endif%}
                {%if mac_filter.entry_list is defined %}{% for entry in mac_filter.entry_list %}<entry>
                    {%if entry.entry_id is defined %}<entry-id>{{entry.entry_id}}</entry-id>{%endif%}
                    {%if entry.match is defined%}<match>
                        {%if entry.match.src_mac is defined%}<src-mac>
                            {%if entry.match.src_mac.address is defined %}<address>{{entry.match.src_mac.address}}</address>{%endif%}
                        </src-mac>{%endif%}
                        {%if entry.match.dst_mac is defined%}<dst-mac>
                            {%if entry.match.dst_mac.address is defined %}<address>{{entry.match.dst_mac.address}}</address>{%endif%}
                        </dst-mac>{%endif%}
                    </match>{%endif%}
                    {%if entry.action is defined%}<action>
                        <{{entry.action}}></{{entry.action}}>
                    </action>{%endif%}
                </entry>{%endfor%}{%endif%}
            </mac-filter>{%endfor%}{%endif%}
        </filter>{%endif%}
    </configure>
</xc:config>
