<global-operations xmlns="urn:nokia.com:sros:ns:yang:sr:oper-global">
    <ping>
        <destination>clab-srexperts-pe2</destination>
        <count>1</count>
        <output-format>detail</output-format>
    </ping>
</global-operations>