{
    "nokia-conf:configure": {
        "router": [
            {
                "router-name": "Base",
                "autonomous-system": 65505,
                "bgp": {
                    "admin-state": "enable",
                    {% if node_name == bgp_rr %}
                    "group": [
                        {
                            "group-name": "rrc",
                            "admin-state": "enable",
                            "cluster": {
                                "cluster-id": "10.10.10.{{ rtr_number }}"
                            },
                            "peer-as": 65505,
                            "family": {
                                "ipv4": true,
                                "vpn-ipv4": true
                            },
                            "next-hop-self": true,
                            "dynamic-neighbor": {
                                "match": {
                                    "prefix": [
                                        {
                                            "ip-prefix": "10.10.10.0\/24",
                                            "allowed-peer-as": ["65505"]
                                        }
                                    ]
                                }
                            }
                        }
                    ]
                    {% else %}
                    "group": [
                        {
                            "group-name": "rr",
                            "admin-state": "enable",
                            "peer-as": 65505,
                            "family": {
                                "ipv4": true,
                                "vpn-ipv4": true
                            },
                            "next-hop-self": true
                        }
                    ],
                    "neighbor": [
                        {
                            "ip-address": "{{ bgp_rr_ip }}",
                            "group": "rr"
                        }
                    ]
                    {% endif %}
                }
            }
        ]
    }
}
