{
    "nokia-conf:configure": {
        "router": [
            {
                "router-name": "Base",
                "mpls-labels": {
                    "static-label-range": 17000,
                    "sr-labels": {
                        "start": 18000,
                        "end": 19999
                    }
                },
                "mpls": {
                    "admin-state": "enable"
                },
                "rsvp": {
                    "admin-state": "disable"
                },
                "isis": [
                    {
                        "isis-instance": 0,
                        "advertise-router-capability": "as",
                        "segment-routing": {
                            "admin-state": "enable",
                            "micro-loop-avoidance": {
                                "fib-delay": 15
                            },
                            "prefix-sid-range": {
                                "global": [null]
                            }
                        }
                    }
                ]
            }
        ]
    }
}