        <config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
            <configure xmlns="urn:nokia.com:sros:ns:yang:sr:conf" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns:nokia-attr="urn:nokia.com:sros:ns:yang:sr:attributes">
                <port>
                    <port-id>1/1/c1/1</port-id>
                    <ethernet>
                        <mode>hybrid</mode>
                    </ethernet>
                </port>
                <router>
                    <router-name>Base</router-name>
                    <interface nc:operation="delete">
			            <interface-name>{{ original_interface }}</interface-name>
                    </interface>
                    <isis>
                        <isis-instance>0</isis-instance>
                        <interface nc:operation="delete">
                            <interface-name>{{ original_interface }}</interface-name>
                        </interface>
                    </isis>
                </router>
                <service>
                    <vprn>
			            <service-name>{{ role_name }}</service-name>
                        <admin-state>enable</admin-state>
			            <description>{{ role_name }}</description>
                        <service-id>10</service-id>
                        <customer>1</customer>
                        <bgp-ipvpn>
                            <mpls>
                                <admin-state>enable</admin-state>
                                <route-distinguisher>65505:10</route-distinguisher>
                                <vrf-target>
                                    <community>target:65505:10</community>
                                </vrf-target>
                                <auto-bind-tunnel>
                                    <resolution>filter</resolution>
                                    <resolution-filter>
                                        <sr-isis>true</sr-isis>
                                    </resolution-filter>
                                </auto-bind-tunnel>
                            </mpls>
                        </bgp-ipvpn>
                        <interface>
                            <interface-name>ce</interface-name>
                            <ipv4>
                                <primary>
				                    <address>{{ original_ip }}</address>
                                    <prefix-length>31</prefix-length>
                                </primary>
                            </ipv4>
                            <sap>
			                    <sap-id>{{ original_port }}</sap-id>
                            </sap>
                        </interface>
                        <ospf>
                            <ospf-instance>0</ospf-instance>
                            <admin-state>enable</admin-state>
                            <export-policy>PERMIT-ALL</export-policy>
                            <import-policy>PERMIT-ALL</import-policy>
                            <area>
                                <area-id>0.0.0.0</area-id>
                                <interface>
                                    <interface-name>ce</interface-name>
                                </interface>
                            </area>
                        </ospf>
                    </vprn>
                </service>
            </configure>
        </config>
